.top{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans'
}
.topright,.topleft{
    flex:3;
    background: tomato;
}     
.topcentre{
    flex:6;
    background: seagreen;
}              